main{
    text-align: center;
}
body{
    background-color: rgb(255, 255, 255);

}
div{
    background-color: rgb(83, 193, 197);
}
h1{
    color: rgb(187, 88, 170);
}
h2{
    color: rgb(36, 26, 129);

}
