main{
    text-align: center;
}
body{
    background-color: rgb(255, 255, 255);

}
div{
    background-color: rgb(83, 193, 197);
}
h1{
    color: rgb(187, 88, 170);
}
h2{
    color: rgb(36, 26, 129);

}

.startGame {
    font-size: 80px;
    color: darkblue;
    background-color: rgb(34, 140, 210);
    display: flex;
    justify-content: center;
}

.startGame a:hover {
    color:pink;
}